/* ==========================================================================
Main page styles
========================================================================== */
.text-heybus{
    color: #132968 !important;

}
.shadow{
    border-radius: 12px;
}
.btn-reserver{
    height: 47px;
    width: 161px;
    border-radius: 8px;
    background-color: #FF1B2E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    font-family: 'Calibri', Courier, monospace;
    text-align: center;
}
.line{
    box-sizing: border-box;
    height: 1px;
    width: 30%;
    border: 2px solid #A1A9C3;
  }