<div class="row">
  <div class="col-md-3">
    <h4 class="text-heybus font-weight-bold">Depart Dakar</h4>
  </div>

  <div class="col-md-9 col-xs-12">
    <h4 class="text-heybus font-weight-bold">Voyages</h4><hr>
    <div class="shadow p-3 mb-5 bg-white rounded" style="max-width: 50rem;">
      <div class="">SAOU TRANSPORT <fa-icon icon="star"></fa-icon> 4,5</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-xs-4">
            <h5 class="card-title text-heybus">06:89</h5>
          </div>
          <div class="col-md-6 col-xs-4 text-right">
            <h5 class="card-title text-heybus">2500 CFA</h5>
          </div>
        </div>
        <div class="float-left mr-2 col-xs-4 text-heybus">
          <h6 class="card-title font-weight-bold"><fa-icon icon="circle"></fa-icon> Dakar</h6>
        </div>
        <div class="line float-left mt-2 mr-2 col-xs-4"></div>
        <div class="col-xs-4 text-heybus">
          <h6 class="card-title font-weight-bold"><fa-icon icon="map-marker-alt"></fa-icon> Tambacounda</h6>
        </div>
        <div class="float-right">
          <a name="" id="" class="btn btn-reserver" [routerLink]="['reserver']" role="button">Réserver</a>
        </div><br>
        <div class="float-left">
          <small><fa-icon icon="wifi" class="text-secondary" title="WIFI"></fa-icon></small>
          <small><fa-icon icon="toilet" class="text-secondary" title="Cabine Toilette"></fa-icon></small>
          <small><fa-icon icon="fan" class="text-secondary" title="Climatiseur"></fa-icon></small>

        </div>

      </div>
    </div>
  </div>
</div>