<div class="row">
  <div class="shadow bg-white rounded col-md-7 mr-1 mb-1">
    <div class="card-body">
      <h4 class="text-heybus">Passager Principal</h4>
      <div class="row mt-4">
        <div class="form-group col-md-6">
          <label for="">Prénom</label>
          <input type="email" class="form-control" name="" id="" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="">Nom</label>
          <input type="email" class="form-control" name="" id="" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="">Email*</label>
          <input type="email" class="form-control" name="" id="" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="">Téléphone*</label>
          <input type="email" class="form-control" name="" id="" placeholder="">
        </div>
      </div>
      <div class="float-right">
        <a name="" id="" class="btn btn-reserver" href="#" role="button">Réserver</a>
      </div><br>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="row">
      <div class="shadow bg-white rounded col-md-12">
        <div class="card-body">
          <h4 class="text-heybus"><strong>Votre Voyage</strong></h4>
          <h6>Aller lun. 03 mai</h6>
          <div class="row">
            <div class="col-md-12">
              <small><fa-icon icon="circle" class="mr-1"></fa-icon></small><strong class="text-heybus font-weight-bold" >06:20 Station de départ</strong>
              <div class="text-center vl ml-1 col-xs-4"></div>
              <small><fa-icon icon="map-marker-alt" class="mr-1"></fa-icon></small><strong class="text-heybus font-weight-bold" >06:20 Station de départ</strong>
            </div>
          
          </div>

        </div>
      </div>
      <div class="shadow bg-white rounded col-md-12 mt-1">
        <div class="card-body justify-content-center">
          <h6 class="text-center text-heybus">Afficher les détails du billet</h6>
        </div>
      </div>
      <div class="shadow bg-white rounded col-md-12 mt-1">
        <div class="card-body">
          <h6 class="text-heybus">Billet(1 passager)</h6>
          <h6 class="text-heybus">Total(prix*nombre passager)</h6>
        </div>
      </div>
    </div>
  </div>
</div>