/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}

/* ==========================================================================
Search page styles
========================================================================== */

.input-heybus {
  border-radius: 8px;
  background-color: #f1f2f6;
}
.button-heybus {
  height: 47px;
  width: 161px;
  border-radius: 8px;
  background-color: #ff1b2e;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  font-family: 'Calibri', Courier, monospace;
  text-align: center;
  position: relative;
  bottom: 7px;
}

.ville-depart {
  height: 47px;
  width: 200px;
  border-radius: 8px;
  background-color: #f1f2f6;
}

.ville-arrive {
  height: 47px;
  width: 200px;
  border-radius: 8px;
  background-color: #f1f2f6;
}

.choix-ville {
  height: 47px;
  width: 248px;
  border-radius: 8px;
  background-color: #f1f2f6;
}

#imagehome {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  right: 130px;
  height: 400px;
  border: 2px solid white;
  border-radius: 25px;
}

#voyage {
  height: 54px;
  left: 190px;
  position: relative;
  top: 300px;
  color: #ffffff;
  font-family: 'Peace Sans';
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44px;
}
