<!-- blog Recherche -->
<div class="justify-content-center">
  <div id="imagehome">
    <img src="./content/images/ewien-van-bergeijk-kwant-6SlIB057YQs-unsplash.png" style="background-size: contain" />
    <p id="voyage">Voyages en bus pas chers à partir de 7000 FCFA</p>
  </div>

  <div class="card jh-card">
    <div class="row justify-content-center">
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><fa-icon icon="circle"></fa-icon></span>
          </div>
          <select id="inputState" class="input-group-text">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <fa-icon icon="exchange-alt"></fa-icon>

      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2"><fa-icon icon="map-marker-alt"></fa-icon></span>
          </div>
          <input type="text" class="form-control input-heybus" name="" id="" placeholder="Ville d'arrivé" aria-describedby="basic-addon2" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-btn" for="basicaddon3">
              <span class="input-group-text"><fa-icon icon="calendar-alt"></fa-icon></span>
            </label>
          </div>
          <input
            type="Date"
            class="form-control input-heybus"
            name=""
            id="basicaddon3"
            placeholder="jeu. 22 avr."
            aria-describedby="basic-addon3"
          />
        </div>
      </div>

      <div class="form-group col-md-2">
        <input type="number" class="form-control input-heybus" name="" id="" placeholder="1 passager" />
      </div>

      <div class="form-group col-md-2">
        <button type="submit" id="save-entity" class="form-control button-heybus btn-lg">Rechercher</button>
      </div>
    </div>
  </div>
</div>
