<!-- blog Recherche -->
<div class="row">
  <div id="imagehome">
    <img
      src="./content/images/ewien-van-bergeijk-kwant-6SlIB057YQs-unsplash.png"
      style="background-size: contain; width: 1400px; height: 460px; position: fixed"
    />
    <p id="voyage">Voyages en bus pas chers à partir de 7000 FCFA</p>
  </div>

  <div class="card jh-card">
    <div>
      <input
        type="radio"
        checked
        style="height: 17px; width: 17px; position: relative; bottom: 8px"
        for="inlineRadio1"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      /><span
        style="
          position: relative;
          bottom: 12px;
          height: 15px;
          width: 66px;
          color: #a1a9c3;
          font-family: Muli;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 15px;
          left: 12px;
        "
        >Aller simple</span
      >
    </div>

    <div style="position: relative; left: 130px; bottom: 25px">
      <input
        type="radio"
        style="height: 17px; width: 17px; position: relative; bottom: 8px"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
        for="inlineRadio2"
      /><span
        style="
          position: relative;
          bottom: 12px;
          height: 15px;
          width: 66px;
          color: #a1a9c3;
          font-family: Muli;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 15px;
          left: 12px;
        "
        >Aller-retour</span
      >
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-center" style="position: relative; right: 40px">
          <div class="col-md-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><fa-icon icon="circle"></fa-icon></span>
              </div>
              <select id="inputState" class="input-group-text">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <fa-icon icon="exchange-alt" style="position: relative; top: 10px"></fa-icon>

          <div class="col-md-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><fa-icon icon="map-marker-alt"></fa-icon></span>
              </div>
              <input
                type="text"
                class="form-control input-heybus"
                name=""
                id=""
                placeholder="Ville d'arrivé"
                aria-describedby="basic-addon2"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-btn" for="basicaddon3">
                  <span class="input-group-text"><fa-icon icon="calendar-alt"></fa-icon></span>
                </label>
              </div>
              <input
                type="Date"
                class="form-control input-heybus"
                name=""
                id="basicaddon3"
                placeholder="jeu. 22 avr."
                aria-describedby="basic-addon3"
              />
            </div>
          </div>

          <div class="form-group col-md-2">
            <input type="number" class="form-control input-heybus" name="" id="" placeholder="1 passager" />
          </div>

          <div class="form-group col-md-2">
            <button type="submit" id="save-entity" class="form-control button-heybus btn-lg">Rechercher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
